<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{% block title %}Hunting Support Tool{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                <li class="dropdown">
                    <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" id="collection">Collection<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/collection">Access data from improperly secured S3 bucket</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" id="persistence">Persistence<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/persistence">Backdoor access and privilege escalation with temporary credentials</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/persistence">AWS atomic red team attacks</a></li>
                    </ul>
                </li>
{#                <a class="nav-item nav-link" id="discovery" href="/discovery">Discovery</a>#}
                <button type="button" class="btn btn-default btn-sm" id="lakeBtn" style="background-color: white; margin: 6px">
                    CloudTrail Lake
                </button>

                <!-- Modal -->
                <div class="modal fade" id="lakeModal" role="dialog" >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header" style="padding:20px 35px;">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4>CloudTrail Lake Event Data Storage</h4>
                        </div>
                        <div class="modal-body" style="padding:20px 30px;">
                          <form role="form">
                            <div class="form-group">
                              <label>Event Data Storage ID</label>
                              <input type="text" class="form-control" id="eventDataStorageId" placeholder="Enter event data storage id">
                            </div>
                              <button type="submit" class="btn btn-success btn-block" style="background-color: #007bff"
                              onclick="saveId()">Add</button>
                          </form>
                        </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script type="text/javascript" href="{{ url_for('static',filename='main.js') }}"></script>
    <script>
        function saveId(){
            var input = document.getElementById("eventDataStorageId").value;
            localStorage.setItem("eventDataStorageID", input);
        }

        {#function getId() {#}
        {#    var eventDataStorageID = localStorage.getItem('eventDataStorageID')#}
        {#    var eventId =  JSON.parse(eventDataStorageID);#}
        {##}
        {#    fetch("/collection", {#}
        {#        method: "POST",#}
        {#        headers: {#}
        {#            'Content-Type': 'application/json',#}
        {#        },#}
        {#        body: JSON.stringify(eventId),#}
        {#    }).then((_res) => {#}
        {#        _res.json();#}
        {#    }).then(data => {#}
        {#        console.log(data);#}
        {#    });#}
            {#$.ajax({#}
            {#    url:'/collection',#}
            {#    type:'POST',#}
            {#    data: {'id': id},#}
            {#    success: function (response) {#}
            {#        console.log(response)#}
            {#    },#}
            {#    error: function (error){#}
            {#        console.log(error)#}
            {#    }});#}
            {#e.preventDefault()#}
        {# }#}

        $(document).ready(function(){
          $("#lakeBtn").click(function(){
            $("#lakeModal").modal('show');
          });
        });
    </script>
</body>
</html>